# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle tortoise-git'
      'command': 'tortoise-git:toggle'
    }
  ]
  ".tree-view": [
    {
      "label": "Tortoise GIT",
      "submenu": [
        {
          "label": "Push"
          "command": "tortoise-git:pushFromTreeView"
        }
        {
          "label": "Pull"
          "command": "tortoise-git:pullFromTreeView"
        }
        {
          "label": "Commit"
          "command": "tortoise-git:commitFromTreeView"
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tortoise-git'
      'submenu': [
        {
          "label": "Commit"
          "command": "tortoise-git:commitFromTreeView"
        }
      ]
    ]
  }
]
